:root {
    --main-bg-color-light: #ffffff;
    --main-bg-color-dark: #1c1c1c;
    --main-text-color-light: #000000;
    --main-text-color-dark: #ffffff;
    --accent-color: purple;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size:2.5ch;
}

nav a {
    text-decoration: none;
    margin-left: 15px;
}

main {
    padding: 20px;
}

.podcast-episode {
    margin-bottom: 40px;
}

.podcast-episode p {
    font-size: 1.1em;
    line-height: 1.5em;
}

.podcast-episode span {
    display: block;
    margin: 10px 0;
}

.podcast-episode a {
    text-decoration: none;
}

footer {
    padding: 20px;
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    margin: 0 10px;
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
        color: #000000;
    }

    header h1 {
        color:black;
    }

    nav a {
        color: black;
    }

    .podcast-episode h2 {
        color: black;
    }

    .podcast-episode a {
        color: black;
    }

    footer a {
        color: black;
    }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #1c1c1c;
        color: #ffffff;
    }

    header h1 {
        color:white;
    }

    nav a {
        color: white;
    }

    .podcast-episode h2 {
        color: white;
    }

    .podcast-episode a {
        color: white;
    }

    footer a {
        color: white;
    }
}

main {
    max-width: 800px; /* Set a maximum width */
    margin: auto; /* Center the main section horizontally and vertically */
    padding: 20px; /* Add padding for spacing */
    text-align: left; /* Align text to the left */
    align-self: center;
    font-size: 1.6ch;
}
/* General styling for links */
a {
    text-decoration: underline; /* Forces all links to be underlined */
    color:purple; /* Keeps the original text color */
}

/* If you want to add specific styling for hover effect */
a:hover {
    text-decoration: underline; /* Ensures underline remains on hover */
    color: var(--accent-color); /* Optional: Change link color on hover */
}
